p {
    color: red;
    font-size: small;
}


.form-invalid {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 886px;
    height: 50px;
    border-radius: 6px;
    background-color: #ffd5dc;
    color: red;
    margin-bottom: 3px;
}

.error {
    border-style: solid;
    border-color: red;
}