.not-found {
    display: flex;
    flex-direction: column;
    align-items: center;
}
img {
    width: 200px;
    height: 200px;
    text-align: center;
}

.text-center {
    text-align: center;
}

.spinner {
    display: flex;
    justify-content: center;
}

.form-invalid {
    color: red;
    margin-bottom: 3px;
}

.error {
    border-style: solid;
    border-color: red;
}